body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #d0f2ff;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 30px;
  margin: 20px 0;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #2596be;
  color: #d0f2ff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mode-selector button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button {
  color: #ffd8d8;
  background-color: #ffa6a6;
  border: none;
  border-radius: 5px;
}